<!DOCTYPE html>
<html lang="en">

                <head>
                    <meta charset="UTF-8">
                    <title> Пустая страница для тестов </title>
<!--                    <script src="../static/inner/dataType.js"></script>-->
                </head>

        <body>
            <h1 style="font-max-size: large; color:RED" > ТЕСТы И ТЕСТЫ </h1>


            <h2 > Fetch API</h2>
            <p id="paragraph"></p>




       <script src ="myVersion.js"></script>
        </body>
</html>